@font-face
{
    font-family: NeutraText-Book;
    src: url('../fonts/NeutraText-Book.otf') format("opentype");
}

#header {
    border-top: thick solid #e400ff;
    background: linear-gradient(#E8E8E8, white, #E8E8E8);
    margin-bottom: 20px;
}

#headwrap {
    border-top: thick solid #e400ff;
    background-color: #161616;
    color: #ffffff;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

#headwrap h2, #headwrap h3 {
    color: #ffffff;
}

@media screen and (min-width: 40.063em) {
    #bullets {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    }
}

.top-bar {
    background-image: url('../img/tile.png');
    background-repeat: repeat;
}

#logo {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    right: 0;
    left: 0;
}

#join_button {
    background-image: url('../img/join_beta_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: auto;
    margin-bottom: 0;
    margin-right: 4rem;
}

#join_button a {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: #fff;
}

.button.yellow {
    background-color: #FFCC00;
    color: #ffffff;
}

.button.yellow:hover, .button.yellow:focus {
    background-color: #E6B800;
}

.button.purple {
    background-color: #e400ff;
    color: #ffffff;
}

.button.purple:hover, .button.purple:focus {
    background-color: #CD00E6;
}

.blue {
    color: #0292B6;
}

.yellow {
    color: #FFCC00;
}