#header {
    border-top: thick solid #e400ff;
    background-color: #888888;
    margin-bottom: 20px;
}

#headwrap {
    border-top: thick solid #e400ff;
    background-color: #000000;
    color: #ffffff;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

#headwrap h2, #headwrap h3 {
    color: #ffffff;
}

#bullets {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

#top-bar {
	background-image:url('../img/tile.png');
}

#logo {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    right: 0;
    left: 0;
}

#join {
    background-image: url('../img/join_beta_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    vertical-align: middle;
}